<div class="tela">

    <div class="container-fluid">
        <div class="row">
            <% for (let i=0; i < lista.length; i++) { %>
                <div class="col-sm-6">
                    <h2>
                        <%= lista[i].nome %>
                    </h2>

                    <p>
                        Preço: <%= lista[i].preco %>
                    </p>

                    <p>
                        Área total: <%= lista[i].areatotal %>
                    </p>

                    <p>
                        Área contruida: <%= lista[i].areaconstruida %>
                    </p>

                    <p>
                        Comodos: <%= lista[i].comodos %>
                    </p>

                    <p>
                        Piscinas: <%= lista[i].piscinas %>
                    </p>

                    <p>
                        Vagas: <%= lista[i].vagas %>
                    </p>

                    <div class="mansao" style="background-image: url('<%- root %>/public/img/propriedades/<%= lista[i].id %>.jpg');"></div>

                    <div>
                        <a class="btn btn-primary" style="margin: 10px 0 50px;" href="<%- root %>/obrigado">Acompanhar</a>
                    </div>
                    
                </div>
                <% } %>
        </div>
    </div>
</div>

<!--colocar botao: gostaria de receber informações? -->

<%- contentFor("head") %>

    <style type="text/css">
        .tela {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 50px;
        }

        .mansao {
            border-radius: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 300px;
        }
        form .button {
			height: 45px;
			margin: 35px 0;
			text-align: center;
		}
    </style>